.bo{
    color: blue;
    
}
.me{
box-shadow: fuchsia 4px 4px 4px 4px;
width: 400px;
padding: 5% ;
}
.op{
    width: 400px;
}
.dc{
    display: inline-block;
    width: 40%;
    margin: 3%;
    padding: 1%;
}
.to{
    display: inline-block;
    width: 40%;
    height: auto;
    padding: 2%;
    margin: 2%;
}
.ww{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    background-position:left ;
}
.tt{
    background-image: url(db.png);
    background-repeat: no-repeat;
    background-position: right;
}
.ml{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
}
.sw{
    width: 100%;
    height: 50px;
}
.er{
    margin-left: 50px;
}
.no{
    margin-left: 25%;
}